*{
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
}
.container{
    height: 100vh;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    display: flex;

}
.left,.right{
    height: 75%;
    width: 35% ;
    border: 1px solid black;
    background-color: yellow;
}
.upper{
    height:70%;
    background-color:blue ;
}
.mid{
    height:10% ;
    background-color:red ;
    
}
.lower{
    height: 20%;
    background-color:brown ;
}
.top{
    height:20% ;
    background-color:pink ;
}
.form{
    height: 30%;
    background-color:bisque;
}
.link{
    height: 20%;
    background-color: violet;
}
@media(max-width:680px) {
    .left{
        display:none;
    }
    .right{
        width:50%;
    }
    
}